{% extends '@FOSUser/layout.html.twig' %}

{% block body %}
    <div class="logo">
        <a href="javascript:void(0);">Admin<b>BSB</b></a>
        <small>Admin BootStrap Based - Material Design</small>
    </div>
    <div class="card">
        <div class="body">
            {{ include('@FOSUser/Security/login_content.html.twig') }}
            <div class="row m-t-15 m-b--20">
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_registration_register') }}">Register Now!</a>
                </div>
                <div class="col-xs-6 align-right">
                    <a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
