{% extends '@FOSUser/layout.html.twig' %}

{% block body %}
    <div class="logo">
        <a href="javascript:void(0);">Admin<b>BSB</b></a>
        <small>Admin BootStrap Based - Material Design</small>
    </div>
    <div class="card">
        <div class="body">
            <form action="{{ path('fos_user_resetting_send_email') }}" id="forgot_password" method="POST">
                <div class="msg">
                    Enter your email address that you used to register. We'll send you an email with your username and a
                    link to reset your password.
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario" required autofocus>
                    </div>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Resetear Contraseña</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a href="{{ path('fos_user_security_login') }}">Login!</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
