{% extends '@FOSUser/layout.html.twig' %}

{% block body %}
    <div class="logo">
        <a href="javascript:void(0);">Admin<b>BSB</b></a>
        <small>{{ 'page.main_title'|trans }}</small>
    </div>
    <div class="card">
        <div class="body">
            <div class="msg">{{ 'page.request.msg'|trans }}</div>
            {% include "@FOSUser/Resetting/request_content.html.twig" %}
        </div>
    </div>
{% endblock %}
