{% extends 'base.html.twig' %}

{% block title %}Nueva Materia Prima{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.material'|trans }}</h2>
    </div>
    <div class="row clearfix" ng-controller="newMaterial as vm">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Crear Nueva Materia Prima</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('material_multiple') }}" class="btn btn-info">Ingresar Múltiple</a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <form name="vm.frm" ng-submit="vm.create()" novalidate>
                        <h2 class="card-inside-title">Información de Materia Prima</h2>
                        <div>
                            <label for="name">Nombre</label>
                            <div class="form-group">
                                <div class="form-line" ng-class="{'error': vm.frm.name.$invalid}">
                                    <input type="text"
                                           id="name"
                                           required
                                           ng-model="vm.material.name"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="code">Código</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text"
                                           id="code"
                                           ng-model="vm.material.code"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="amount">Cantidad por Presentación</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input id="amount"
                                           required
                                           ng-model="vm.material.amount"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="unit">Unidad</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="unit"
                                           required
                                           ng-model="vm.material.unit"
                                           class="form-control">
                                        <option ng-repeat="unit in vm.units"
                                                ng-value="unit.code"
                                                ng-bind="unit.value + '(' + unit.code + ')'"></option>
                                    </select>
                                </div>
                            </div>
                            <label for="packing_price">Costo por Presentación</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number"
                                           id="packing_price"
                                           required
                                           ng-model="vm.material.packing_price"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="price">Costo Unitario</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <p ng-bind="vm.getPrice()|currency"></p>
                                </div>
                            </div>
                        </div>
                        <h2 class="card-inside-title">Información del Inventario</h2>
                        <div>
                            <label for="stock">Cantidad Inicial</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="number"
                                           id="stock"
                                           required
                                           ng-model="vm.material.stock"
                                           class="form-control">
                                </div>
                                <span class="input-group-addon" ng-bind="vm.material.unit"></span>
                            </div>
                        </div>
                        <div class="center">
                            <p style="font-size: 18px">
                                <b ng-bind="vm.material.amount"></b> <b ng-bind="vm.material.unit"></b> de <b ng-bind="vm.material.name"></b> cuesta(n) <b ng-bind="vm.material.packing_price|currency"></b><br>
                                lo que quiere decir que cada <b ng-bind="vm.material.unit"></b> cuesta <b ng-bind="vm.material.price|currency"></b>
                            </p>
                        </div>
                        <br>
                        <button class="btn btn-primary" ng-disabled="vm.frm.$invalid">Crear Materia Prima</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/material/new.js') }}"></script>
{% endblock %}