{% extends '@FOSUser/layout.html.twig' %}

{% block body %}
<div class="logo">
    <a href="javascript:void(0);">Admin<b>BSB</b></a>
    <small>Admin BootStrap Based - Material Design</small>
</div>
<div class="card">
    <div class="body">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
        <div class="m-t-25 m-b--5 align-center">
            <a href="{{ path('fos_user_security_login') }}">Ya tienes una cuenta, inicia sesión</a>
        </div>
    </div>
</div>
{% endblock %}
