{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.product'|trans }}</h2>
    </div>
    <div class="row clearfix" ng-controller="newProduct as vm" ng-init="vm.get('{{ id }}')">
        {% include 'formula/_material_modal.html.twig' %}
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Editar <span ng-bind="vm.product.name"></span></h2>
                </div>
                <div class="body">
                    <form name="vm.frm" ng-submit="vm.edit('{{ id }}')" novalidate>
                        <div>
                            <label for="name">Nombre</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text"
                                           id="name"
                                           required
                                           ng-model="vm.product.name"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="code">Código</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text"
                                           id="code"
                                           ng-model="vm.product.code"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="formula">Formulación</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="formula"
                                            required
                                            class="form-control"
                                            ng-model="vm.product.formula_id"
                                            ng-change="vm.changeFormula($event)">
                                        <option></option>
                                        <option ng-repeat="f in vm.formulas"
                                                ng-bind="f.name"
                                                ng-value="f.id"></option>
                                    </select>
                                </div>
                            </div>
                            <label for="amount">Cantidad Equivalente</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text"
                                           id="amount"
                                           required
                                           ng-model="vm.product.amount"
                                           class="form-control">
                                </div>
                            </div>
                            <label for="unit">Unidad Base</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <p ng-bind="vm.product.unit"></p>
                                </div>
                            </div>
                            <label for="amount">Costo Total Unitario</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <p ng-bind="vm.product.price|currency"></p>
                                </div>
                            </div>
                            <label for="notes">Observaciones</label>
                            <div class="form-group">
                                <div class="form-line">
                                <textarea id="notes"
                                          rows="3"
                                          ng-model="vm.product.notes"
                                          class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <h2 class="card-inside-title">Información de la formulación</h2>
                        <div>
                            <label for="stock">Cantidad base</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input id="stock"
                                           readonly
                                           ng-model="vm.product.base_amount"
                                           class="form-control">
                                </div>
                                <span class="input-group-addon" ng-bind="vm.product.unit"></span>
                            </div>
                        </div>
                        <div>
                            <p style="font-size: 18px" class="text-center">
                                Cada <b ng-bind="vm.product.name"></b> equivale/contiene <br>
                                <b ng-bind="vm.product.amount"></b> <b ng-bind="vm.product.unit"></b> siguiendo la relación de que <br>
                                cada <b ng-bind="vm.product.base_amount"></b>  <b ng-bind="vm.product.unit"></b> de <b ng-bind="vm.formula.name"></b> equivale/contiene
                            </p>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th>Materia Prima</th>
                                    <th>Cantidad</th>
                                    <th>Cantidad para 1 producto</th>
                                    <th>Unidad</th>
                                    <th>Costo</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in vm.selected">
                                    <td ng-bind="x.name"></td>
                                    <td>
                                        <input title="amount"
                                               class="form-control"
                                               ng-model="x.amount">
                                    </td>
                                    <td ng-bind="vm.getCantUnidad(x.amount)"></td>
                                    <td>
                                        <select title="unit"
                                                ng-model="x.unit"
                                                ng-change="vm.convertUnit(x)"
                                                class="form-control">
                                            <option ng-repeat="unit in x.units"
                                                    ng-value="unit.code"
                                                    ng-bind="unit.value + '(' + unit.code + ')'"></option>
                                        </select>
                                    </td>
                                    <td ng-bind="vm.getCosto(x)|currency:'$':0"></td>
                                    <td>
                                        <button class="btn btn-xs btn-circle btn-danger"
                                                ng-click="vm.delMaterial($index)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5"><b>Total</b></td>
                                    <td ng-bind="vm.getTotal()|currency:'$':0"></td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button"
                                    class="btn btn-success"
                                    data-target="#materialModal"
                                    data-toggle="modal">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                        <br>
                        <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="vm.frm.$invalid">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/product/new.js') }}"></script>
{% endblock %}